@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global base styles */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}
.sidebar-link {
  padding: 10px 12px;
  border-radius: 8px;
  font-weight: 600;
  color: #374151;
}

.sidebar-link.active {
  background-color: #4f46e5;
  color: white;
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
